# Ambiente Virtual
.venv/
venv/
ENV/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de Configuração Secretos
.env

# Logs e Saídas de Execução
/logs/
/click_history/
/error_screenshots/

# Arquivos de IDE
.vscode/
.idea/